<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Welcome to my Project 0 site</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" id="camera-css"  href="css/camera.css" type="text/css" media="all">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/theme.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/skins/tango/skin.css" />
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->    
</head>
<body>
    <p style="text-align:center; color:white; margin-bottom:40px; margin-top:20px;"><img src="img/portfolio/13.jpg" title="Landscapes" class="img img-rounded" /><br>
        Landscape. Image size: 140 KB.</p>
    <p style="text-align:center; color:white; margin-bottom:40px; margin-top:20px;"><img src="img/portfolio/14.jpg" title="Catronaut" class="img img-rounded" /><br>
        Catronaut. Image size: 101 KB</p>
</body>
</html>